*{
    box-sizing: border-box;
}

body{
    background-image: url(img/patt.png);
    font-family: 'Roboto', sans-serif
}

.header{
    height: 100px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    align-items: center;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    margin: 0 -15px;
}

[class*="col-"] {
    padding: 0 15px;
}

.col-1{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2{
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

.col-3{
    display: flex;
    align-items: center;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4{
    flex: 0 0 33.33332%;
    max-width: 33.33332%;
}

.col-5{
    flex: 0 0 41.66665%;
    max-width: 41.66665%;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7{
    flex: 0 0 58.33331%;
    max-width: 58.33331%;
}

.col-8{
    flex: 0 0 66.66664%;
    max-width: 66.66664%;
}

.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10{
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}

.col-11{
    flex: 0 0 91.66663%;
    max-width: 91.66663%;
}

.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.logo{
    margin-top: 7px;
}

.menu{
    display: flex;
}

.arrow_down{
    margin-left: 10px;
    transform:rotate(270deg) ;
}

.menu li{
    position: relative;
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child{
    border-right: 1px solid #2c71b8;
}

.menu a{
display: flex;
justify-content: center;
align-items: center;
font-size: 21px;
color: #2c71b8;
    height: 50px;
    text-decoration: none;
}

.menu a:hover{
    background-color: #2c71b8;
    color: #fff;
}

.search_magazine_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    border: #2c71b8 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
}

button{
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background: #2c71b8;
    border: none;
}

input{
    margin-left: 20px;
    height: 22px;
    width: 145px;
    border: none;
    background: rgba(0, 0, 0, 0) ;
}

input::placeholder{
    color: #2c71b8;
}

.magazine{
    margin-left: 30px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #2c71b8;
    border-radius: 10px;
    top: -5px;
    left: -5px;
}

.dropdown{
    display: none;
    position: absolute;
    z-index: 2;
}

.dropdown li{
    background-color: #2c71b8;
    width: 285px;
    text-align: left;
}

.dropdown>li>a{
color: #fff;
display: flex;
justify-content: left;
padding-left: 30px;
}

.menu li:hover a {
    background-color: #2c71b8;
    color: #fff;
}

.menu li:hover .dropdown{
    display: block;
}

.menu li:hover .arrow_down{
    transform:rotate(90deg) ;
    transition: 0.5s;
}


.dropdown>li>a:hover{
    color: #2c71b8;
    background-color: #fff;
}


.main_text_1{
    width: 1200px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.cards{
    display: flex;
    justify-content: space-around;
}

/* base style of card  */

.image_product{
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
}

.click-like{
    width: 30px;
    height: 30px;
position: absolute;
top: 50px;
right: 10px;
border: #2c71b8 solid 1px;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
background-image: url(img/like.png);
background-repeat: no-repeat;
background-position: center;
}
.click-like:hover, .liked {
    background-color: #2c71b8;
    background-image: url(img/like_white.png);
}


.image_product div:nth-child(2){
    position: absolute;
top: 10px;
right: 10px;
border: #2c71b8 solid 1px;
display: flex;
justify-content: center;
align-items: center;
padding: 4px;
}

.card {
    color: #fff;
    display: flex;
    flex-direction: column;
    
    /* border: 1px solid #fff; */
}

.card h3{
    padding-top: 15px;
    font-size: 30px;
font-weight: bold;
text-align: left;
}
.card p{
    text-align: left;
    padding-top: 20px;
font-size: 21px;
font-weight: 300;
}
.card span{text-transform: uppercase;
    padding-top: 15px;
    font-size: 21px;
font-weight: bold;
}
.card .price{
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}


.btn_info{
    margin: 25px auto 0;
width: 210px;
height: 50px;
border: solid 1px #fff;
color: #fff;
font-size: 21px;
font-weight: 700;
}

.btn_add{
    margin: 15px auto 30px ;
width: 210px;
height: 50px;
background: #568dc6;
color: #fff;
font-size: 21px;
font-weight: 700;
}
.btn_add img{
    margin-left: 10px;
}

.card_info{
    border: 1px solid #fff;
    padding: 0 15px;
}


.cards .col-4:first-child{
padding-left: 0;
}


.cards .col-4:last-child{
    padding-right: 0;
}

.main_title{    
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto; 
}


main{
    margin: 30px 0;
}

.bread_crumbs p{
    opacity: 0.502;
font-size: 14px;
color: #ffffff;
font-weight: 300;
}

.page_title{
    font-size: 48px;
line-height: 40px;
color: #ffffff;
font-weight: 700;
}

.title_main_text{
margin: 30px 0 50px 0;
}

.title_main_text>ul{
    display: flex;
    justify-content: left;
    align-items: center;
    border: #fff 1px solid;
    background-color: #2c71b8;
    color: #fff;
    font-size: 21px;
font-weight: 300;
}

.title_main_text span{
    margin-left: 125px;
    transform: rotate(270deg);
}

.title_main_text>ul{
    position: relative;
}

.dropdown_second{
    display: none;
position: absolute;
flex-direction: column;
top: 38px;
left: -1px;
z-index: 5;
min-width: 290px;

}

.dropdown_second li{    
    border: #fff 1px solid;
    padding-left: 15px;
    line-height: 38px;
    background-color: #2c71b8;
}

.dropdown_second li:hover{
    background-color: #fff;
    color: #2c71b8;
    transition: 0.5s;
}

.title_main_text>ul:hover .dropdown_second{
    display: block;
    transition: 0.5s;
}

.card_with_product .col-12{
    margin-top: 30px;
}



/* style of aside  */


.row>aside{
    height: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);

}

.row aside h3{
font-size: 21px;
font-weight: 700;
text-transform: uppercase;
}

aside>div{
    margin: 30px 0;
}

aside input{
    margin: 0;
    appearance: none;
    border-radius: 0px;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    margin-right: 10px;
}

aside input:checked{
    background-color: #fff;
}

aside form {
    margin-top: 25px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
width: 100%;
align-items: flex-start;
border: none;
}


.select_character2, .select_character3{
    margin-top: 65px;
}


.aside_btn{
    margin-top: 55px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load_more{
    margin: 40px 0 85px;
    text-align: center;
    font-size: 36px;
line-height: 40px;
color: #ffffff;
font-weight: 300;
}

/* style of footer  */

footer{
    height: 100px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    align-items: center;
}

footer>.container{
    text-align: center;
    font-size: 21px;
color: #2c71b8;
font-weight: 300;
}